.nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 6%;
    margin: 0;
    gap: 10%;
    background-color: #565151;
}

.nav-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.nav-buttons > button{
    cursor: pointer;
    border: none;
    background-color: #565151;
    color: #FBFADA;
    margin-block: 25%;
    width: 100%;
    padding: 10%;
    border-radius: 0.5em;
}

.active{
    background-color: #3c3a3a !important;
}

.user-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-img > img{
    border-radius: 10%;
}