.playing-song{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95%;
    background-color: #eeeeee;
    border-radius: 4%;
    width: 25%;
    margin-inline-end: 1%;
}

.top{
    display: flex;
    align-items: center;
    margin-inline-start: 10%;
    gap: 5%
}

.top > p{
    font-size: 90%;
    font-weight: 600;
}

.img-holder{
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 5%;
}

.song-details p {
    margin: 0;
}
.song-name{
    font-weight: 600;
    margin-block: 7% !important;
}

.song-artist{
    font-size: 80%;
    font-weight: 500;
}

.queue-list{
    margin-block: 5%;
    margin-inline: 5%;
}

.queue-list > div{
    display: flex;
    align-items: center;
    gap: 5%
}

.queue-list > div > img {
    border-radius: 10%;
    width: 15%;
}
.queue-list::-webkit-scrollbar {
    display: none;
}

.queue-list p{
    margin: 10%;
}

.queue-song{
    font-size: 90%;
    font-weight: 700;
}

.queue-artist{
    font-size: 80%;
    font-weight: 500;
}